[submodule "Libraries/googlebenchmark"]
	path = Libraries/googlebenchmark
	url = https://github.com/google/benchmark.git
[submodule "Libraries/pybind11"]
	path = Libraries/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Libraries/Clara"]
	path = Libraries/Clara
	url = https://github.com/catchorg/Clara
[submodule "Libraries/tinyobj"]
	path = Libraries/tinyobj
	url = https://github.com/syoyo/tinyobjloader