[submodule "Libraries/pybind11"]
	path = Libraries/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "Libraries/Clara"]
	path = Libraries/Clara
	url = https://github.com/catchorg/Clara
[submodule "Libraries/googletest"]
	path = Libraries/googletest
	url = https://github.com/google/googletest
[submodule "Libraries/googlebenchmark"]
	path = Libraries/googlebenchmark
	url = https://github.com/google/benchmark
[submodule "Libraries/tinyobj"]
	path = Libraries/tinyobj
	url = https://github.com/syoyo/tinyobjloader
[submodule "Experimental/Libraries/glfw"]
	path = Experimental/Libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "Experimental/Libraries/EGL-Registry"]
	path = Experimental/Libraries/EGL-Registry
	url = https://github.com/KhronosGroup/EGL-Registry
[submodule "Experimental/Libraries/EGL"]
	path = Experimental/Libraries/EGL
	url = https://github.com/McNopper/EGL
[submodule "Experimental/Libraries/glew-cmake"]
	path = Experimental/Libraries/glew-cmake
	url = https://github.com/Perlmint/glew-cmake
